
/**
 Light Gray
 https://coolors.co/f7f7f7-282828-e69300-88292f-01768b
*/

body, th {
    
    background-color: #F7F7F7;
    color: rgb(40,40,40);
    font-family: "Avenir Next";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(120,120,120);
}

::tag {
    color: #E69300;
}

a::destination,
img::destination,
table,
td,
reference::destination,
a::label,
img::label,
reference::title,
code,
hr,
blockquote,
html-block {
    color: rgb(120,120,120);
}


blockquote::tag {
    color: #01768B;
    font-weight: 500;
}

code, html-block {
    font-family: "Hack";
    font-size: 90%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

th {
    font-weight: 500;
}

s {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #01768B;
}

s::tag {
    text-decoration-line: none;
}




