
/**
 Dark Gray
 https://coolors.co/787878-282828-e69300-88292f-01768b
 */

body, th {
    
    background-color: rgb(40,40,40);
    color: rgb(200,200,200);
    font-family: "Avenir Next";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(220,220,220);
}

::tag {
    color: #E69300;
}

a::destination,
img::destination,
table,
td,
reference::destination,
a::label,
img::label,
reference::title,
code,
blockquote,
html-block {
    color: rgb(120,120,120);
}

hr {
    color: #88292F;
}

blockquote::tag, code::tag {
    color: #01768B;
}

reference::title, img::title, a::title {
    color: #88292F;
}

code, html-block {
    font-family: "Hack";
    font-size: 90%;
}

th {
    font-weight: 500;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

s {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #01768B;
}

s::tag {
    text-decoration-line: none;
}



















