@import url(../styles/fonts/MyFontsWebfontsKit.css);

body {
    font-family: HurmeGeometricSans3-Regular, -apple-sans-serif, "Avenir Next", sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: HurmeGeometricSans3-Regular, -apple-sans-serif, "Avenir Next", sans-serif;
}


.ReactNavigationControllerView,
.ReactNavigationControllerViewContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ReactNavigationControllerView {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ReactNavigationControllerViewContent {
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}